.formContainer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;
}

.formContainer h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3E4854;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
}

.formContainer input {
    font-weight: 100;
    min-width: 30px;
    width: 200px;
    height: 27px;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 4px;
}

.formContainer select {
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 27px;
    width: 200px;
    max-width: 400px;
    border: 0;
    border-radius: 4px;
}

.formContainer form {
    display: flex;
    align-self: center;
}

.formContainer nav {
    margin: 0 10px;
}

form label span {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}

form button {
    margin: 0 5px;
    color: white;
    width: 100px;
    font-weight: 600;
    height: 27px;
    border-radius: 4px;
    border: 0.5px solid rgb(85, 163, 211);
    background: rgb(85, 163, 211);
    box-shadow: rgba(148 , 187 , 233 , 0.8) 0 1px 4px;
    font-family: 'Poppins', sans-serif;
}

form button:hover {
    background-color: rgb(112, 186, 232);
    cursor: pointer;
}

form button:disabled {
    background-color: gray;
    border: 1px solid gray;
}

form button:disabled:hover {
    cursor:default;
}

form button:visited {
    background: rgb(85, 163, 211);
}

.tableStyleContainer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;
}

#title {
    margin-top:  20px;
    margin-left: auto;
    padding: 20px;
    font-size: smaller;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .formContainer {
        white-space: wrap;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        min-width: fit-content;
    }

    .formContainer h1 {
        font-size: x-large;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    form input {
        margin: 10px;
        width: 70vw;
    }

    form select {
        margin: 10px;
    }

    .tableStyleContainer {
        width: 90%;
    }
}
